html {
	font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
	size: 20px;
	box-sizing: border-box;
}

/*Main title on all pages*/

h1 {
	color: #5da1ff;
	font-family: "Times New Roman", Times, serif;
	text-align: center;
	font-size: 50px;
	padding-top: 68px;
}

.HomePageIntro {
	padding-top: 20px;
}

/*Top navigation list*/

.main {
	list-style-type: none;
	overflow: hidden;
	background-color:#70c48f;
	padding-left: 0;
	margin-top: 0;
	box-shadow: 2px;
	z-index: 1;
	justify-content: space-around;
	display: flex;
	flex-wrap: wrap;
}

.main a {
	color: white;
}

.main a:visited {
	color: white;
}

/*Changes color of links at top when you move the mouse over it*/

.main a:hover {
	color: black;
	background-color: #84e3a0;
	transform: scale(1.2);
}

/*Changes color of links at top when you move the mouse over it*/

.resources {
	display: block;
	text-align: center;
	list-style-type: none;
	padding-bottom: 40px;
	padding-top: 40px;
}

.resources a:link {
	color: black;
}

/*Links to jump to certain races or guilds*/

.Guildnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
	border: 1px solid black;
}

.Guildnav a:hover {
	color: white;
	background-color: #ffbb68;
	transform: scale(1.2);
}

li {
	float: left;
}

a:link {
	display: block;
	text-align: center;
	padding: 14px 60px;
	text-decoration: none;
	list-style-type: none;
}

/*Youtube Video*/

iframe {
	display: block;
	margin: 0 auto;
	padding-top: 40px;
	width: 75%;
}

h2 {
	padding-top: 10px;
	text-align: center;
	clear: both;
	width: 100%;
}

h3 {
	text-align: center;
	size: 25px;
	display: block;
}

/*About Dennis description*/

.AboutDennis {
	color: #ff903b;
	size: 30px;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
}

/*Class of the whole HTML in About the Author*/

.AboutAuthor {
	background-color: white;
	width: 100%;
	margin: 0 auto;
}

.DennisPic {
	display: block;
	border-radius: 15px;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	padding: 10px 15px 20px 10px;
}

.Race {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 15%;
	padding: 10px 15px 20px 10px;
	transition: transform .2s;
}

.Race:hover {
	transform: scale(1.9);
}



p {
	text-align: center;
	line-height: 1.6;
	width: 100%;
}

/*Lists all people playing the game and their characters*/

.CharacterList {
	background-color: white;
	list-style-type: none;
	width: 100%;
	padding-top: 15px;
}

.CharacterName {
	display: block;
	text-align: left;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
}

.CharacterParagraph {
	text-align: left;
	width: 100%;
}

/*List within the Boros Legion*/

ol li {
	float: left;
	display: list-item;
	list-style-type: decimal;
	line-height: 1.4;
}

/*All guild logos*/

.GuildLogo {
	width: 50%
}

/*Picture at the bottom of the page (man in red hoodie)*/

.AllGuilds {
	padding-top: 80px;
	width: 100%
}

/*First picture on the Skills and Guilds page*/

.IntroGuilds {
	width: 50%;
	padding-top: 100px;
}

/*This is the top of the guild descriptions that say the name in bold*/

.GuildDescription {
	list-style-type: none;
	display: block;
	width: 100%;
}

/*Colors for all Races*/

}
.Human {
	color: #a11a35;
}

.Elf {
	color: #41c75c;
}

.Vedalken {
	color: #6990b3;
}

.Vampire {
	color: #7e47a6;
}

.Centaur {
	color: #e0c4a4;
}

.Rhox {
	color:#e8e11a;
}

.Merfolk {
	color: #297bed;
}

.Weird {
	color: #c9e7eb;
}

.Goblin {
	color: #ba8d5c;
}

.Demon {
	color: #c42d1c;
}

.Angel {
	color: #db691c;
}

.Viashino {
	color: #ff6214;
}

/*Lore and Scholar at the bottom*/

.specify {
	text-align: left;
	width: 100%;
	margin: 0 auto;
}

footer {
	height: 20px;
	padding-top: 50px;
	text-align: center;
}

@media (min-width: 769px) {

	.wrap {
		min-height: calc(100vh - 89px);
	}
	.main li {
		display: inline;
	}

	.main {
		position: fixed;
		width: 100%;
		top: 0;
	}
}
