.topnav {
    background-color: #BBCC9B;
    width: 100%;
  }

  .topnav a {
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
  }
  
  .topnav a:hover {
    background-color: #59614A;
    color: white;
  }
  
  .topnav a.active {
    background-color: #59614A;
    color: white;
  }
  
  iframe {
    display: block;
    width: 1000px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    color:#3b9374;
    font-family: 'Bodoni Moda', serif;
    text-align: center;
    padding-top: 50px;
  }
  
  h2,
  h3 {
    text-align: center;
  }
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #mollymain {
    border-radius: 25px;
    height: 700px;
    width: 1000px;
  }

  #mollyportrait {
    height: 400px;
    width: 550px;
    border-radius: 25%;
  }

  #hobbies {
    text-align: center;
    padding-top: 30px;
    font-weight: bold;
  }

/*this is to center the hobby buttons*/

  #hobby_buttons {
    text-align: center;
  }
  
  button {
    display: inline-block;
    width: 300px;
    height: 100px;
    font-weight: bold;
    font-size: 30px;
    transition: transform .2s;
    background-color: black;
  }
  
  .videogames:hover {
    background-image: url("Photos/video games.jpg");
    transform: scale(1.3);
  }
  
  .coding:hover {
    background-image: url("Photos/coding.jpg");
    transform: scale(1.3);
  }
  
  .reading:hover {
    background-image: url("Photos/reading.jpg");
    transform: scale(1.3);
  }
  
  .reading:hover a {
    color: black;
  }
  
  .internet:hover {
    background-image: url("Photos/internet.jpg");
    transform: scale(1.3);
  }
  
  .volunteering:hover {
    background-image: url("Photos/volunteer.jpg");
    transform: scale(1.3);
  }
  .volunteering:hover a {
    color: black;
  }
  
  button a {
    color: white;
    text-decoration: none;
  }
  
  footer {
    text-align: center;
    padding-top: 50px;
    background-color: #BBCC9B;
    padding: 20px 20px;
    margin-top: 50px;
  }

  #SimsWebsite {
      text-align: center;
      color: #91B352;
  }
  footer a {
    width: 100%;
    padding: 20px 20px;
    text-decoration: none;
    color: white;
    margin-top: 50px;
  }

  footer a:hover {
    background-color: #59614A;
    color: white;
  }